@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

html,
body {
    font-family: 'Lato', sans-serif;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    color: #000;
    background: #fff;
    -webkit-user-select: none;
    user-select: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 666;
    background: rgba(0,0,0,0.5);
}

.modal {
    position: relative !important;
    display: block;
    float: left;
    width: 500px;
    height: 80%;
    padding: 50px;
    margin: 0;
    color: #969798;
    font-size: 12px;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

#modal_form {
    height: auto !important;
}

.modal p,
.modal ul {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin: 15px 0 0 0;
}

.modal p:first-child {
    margin: 0;
}

.modal-close {
    position: absolute;
    display: block;
    top: 25px;
    right: 50px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: underline;
}

.modal form {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
}

nav,
footer {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

nav {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 75px;
    line-height: 75px;
    border-bottom: #ddd 2px solid;
}

.logo {
    position: relative;
    display: block;
    float: left;
    width: 210px;
    height: 50px;
    padding: 0;
    margin: 0;
    background: url('img/comparehomelenders.png');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    display: block;
    float:left;
    color: #969798;
    padding: 40px 25%;
    border-top: #ddd 2px solid;
}

footer label,
footer span,
footer p {
    text-align: center;
    display: block;
    float: left;
    width: 100%;
}

footer label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

footer span {
    font-size: 12px;
    font-weight: 900;
}

footer p {
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}

.link-container {
    position: relative;
    display: block;
    float: left;
    width: 60%;
    height: auto;
    padding: 0;
    margin: 40px 20%;
}

.link-container a {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #969798;
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
}

main {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 40px 20%;
    margin: 0;
}

.p-container,
.p-bar {
    position: relative;
    display: block;
    float: left;
    height: 20px;
    padding: 0;
}

.p-container {
    width: 100%;
    margin: 0 0 50px 0;
    background: #f5f5f5;
}

.p-bar {
    width: 0;
    background: #2f5597;
    transition: all .5s ease;
}

.m-container,
.b-container,
.m-step {
    position: relative;
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
}

.m-container,
.m-step {
    display: block;
    float: left;
}

.b-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.b-margin {
    margin: 0 0 15px 0 !important;
}

.m-description,
.m-title {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #2f5597;
    text-align: center;
}

.m-description {
    font-weight: 700;
}

.m-title {
    font-weight: 900;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 0 15px;
    cursor: pointer;
    text-shadow: 0 1px 1px #fff;
    border-radius: 50%;
    border: 12px solid #d4d4d4;
    box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
    background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#fff),color-stop(100%,#dcdcdc));
    background: -webkit-linear-gradient(top,#fff,#dcdcdc);
}

.button-info {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.button-title {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #2f5597;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.button-icon {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0 0 10px 0;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 60px 60px !important;
}

.icon-yes {
    background: url('img/yes.png');
}

.icon-no {
    background: url('img/no.png');
}

.icon-excellent {
    background: url('img/excellent_credit.png');
}

.icon-good {
    background: url('img/good_credit.png');
}

.icon-fair {
    background: url('img/fair_credit.png');
}

.icon-poor {
    background: url('img/poor_credit.png');
}

.icon-1 {
    background: url('img/icon_1.png');
}

.icon-2 {
    background: url('img/icon_2.png');
}

.icon-3 {
    background: url('img/icon_3.png');
}

.icon-4 {
    background: url('img/icon_4.png');
}

.icon-5 {
    background: url('img/icon_5.png');
}

.icon-6 {
    background: url('img/icon_6.png');
}

.icon-7 {
    background: url('img/icon_7.png');
}

.partner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 50px 0;
    margin: 0 0 25px 0;
    border: 3px solid #e8e8e8;
}

.partner:last-child {
    margin: 0;
}

.partner-number {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    min-width: 30px;
    height: 30px;
    padding: 0 10px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #2f5597;
}

.partner-number.top-match {
    background: #FF3B30;
}

.partner-icon,
.partner-info,
.partner-link {
    position: relative;
    display: block;
    float: left;
    height: auto;
    padding: 0 25px;
    margin: 0;
}

.partner-icon {
    width: 30%;
}

.partner-link {
    width: 20%;
}

.partner-info {
    display: block;
    width: 50%;
}

.partner-info ul {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    color: #969798;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: 400;
}

.partner-info a {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #969798;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}

.partner-description {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
    color: #969798;
    font-size: 16px;
    font-weight: 700;
}

.partner-img {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0 0 20px 0;
    background-attachment: scroll !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.partner-1 {
    background: url('img/partner_1.png');
    background-size: 135px 60px !important;
}

.partner-2 {
    background: url('img/partner_2.jpg');
    background-size: 129px 18px !important;
}

.logo-1 {
    background: url('img/logo_1.png');
    background-size: 165px 60px !important;
}

.logo-2 {
    background: url('img/logo_2.png');
    background-size: 162px 20px !important;
}

.logo-3 {
    background: url('img/logo_3.png');
    background-size: 174px 35px !important;
}

.logo-4 {
    background: url('img/logo_4.png');
    background-size: 159px 35px !important;
}

.logo-5 {
    background: url('img/logo_5.png');
    background-size: 182px 30px !important;
}

.logo-6 {
    background: url('img/logo_6.png');
    background-size: 109px 60px !important;
}

.logo-7 {
    background: url('img/logo_7.png');
    background-size: 161px 45px !important;
}

.logo-8 {
    background: url('img/logo_8.png');
    background-size: 176px 30px !important;
}

.partner-title {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #969798;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.partner-button {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
    background: #2f5597;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.partner-button:hover,
.partner-button:focus,
.partner-button:active {
    outline: 0;
}

.form-label {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-weight: 700;
}

.form-input,
.form-area {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 25px 0;
    font-size: 14px;
    font-weight: 400;
    background: #eee;
    border: 0;
    border-radius: 4px;
}

.form-input {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

.form-area {
    height: auto;
    padding: 15px;
    resize: none;
}

.form-button {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
    background: #2f5597;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.form-input:hover,
.form-input:focus,
.form-input:active,
.form-area:hover,
.form-area:focus,
.form-area:active,
.form-button:hover,
.form-button:focus,
.form-button:active {
    outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.thanks-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.thanks-message {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 25%;
    padding: 0;
    margin: 0;
    color: #969798;
    font-size: 16px;
    text-align: center;
}

.thanks-button {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 25px 0 0 0;
    color: #fff;
    cursor: pointer;
    background: #2f5597;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.thanks-button:hover,
.thanks-button:focus,
.thanks-button:active {
    outline: 0;
}

.action-container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 20%;
    margin: 0;
}

.action-input {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    margin: 0  0 30px 0;
    font-size: 14px;
    font-weight: 900;
    color: #2f5597;
    background: #eee;
    border: 0;
    outline: 0;
    border-radius: 4px;
    text-align: center;
}

.input-50 {
    width: calc(50% - 10px);
}

.right-50 {
    margin-right: 10px;
}

.left-50 {
    margin-left: 10px;
}

.action-opt {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.action-back,
.action-next,
.action-submit {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
}

.action-back {
    float: left;
    color: #666;
    border: 2px solid #eee;
}

.action-next {
    width: 40%;
    float: right;
    color: #fff;
    background: #2f5597;
}

.action-submit {
    width: 100%;
    float: left;
    color: #fff;
    background: #2f5597;
}

#step_houses .b-container .button-title {
    padding: 0 20px;
    font-size: 12px;
    line-height: 12px;
    height: 24px;
}

#step_houses .b-container .button-icon {
    padding: 0;
    margin: 0 0 5px 0;
    height: 100px;
    background-size: cover !important;
}

.house-1 {
    background: url('img/house-1.png');
}

.house-2 {
    background: url('img/house-2.png');
}

.house-3 {
    background: url('img/house-3.png');
}

.house-4 {
    background: url('img/house-4.png');
}

.house-5 {
    background: url('img/house-5.png');
}

#short_form,
#city_form,
#state_form {
    display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #eee;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 30px;
    background: #ccc;
    cursor: -webkit-grab;
    cursor: grab;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #ccc;
    cursor: grab;
}

.value-range {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0;
    margin: 10px 0 30px 0;
    font-size: 16px;
    font-weight: 900;
    color: #2f5597;
}

#btn_yes,
#good,
#single {
    border: 6px solid #7bc043;
}

@media only screen and (max-width: 1000px) {
  
    footer,
    main {
        padding: 40px 5%;
    }

    footer label {
        font-size: 12px;
    }

    footer p,
    .link-container a {
        font-size: 10px;
    }

    footer span {
        font-size: 8px;
        font-weight: 500;
    }

    #excellent,
    #good {
        margin: 0 0 20px 0;
    }

    .action-next {
        width: 100%;
        padding: 0;
        font-size: 12px;
    }


    .action-container {
        padding: 0;
    }

    .p-container,
    .p-bar {
        height: 10px;
        padding: 0;
    }

    .p-container {
        margin: 0 0 30px 0;
    }
    
    .b-container {
        display: block;
    }
    
    .mobile-container {
        position: relative;
        display: flex;
        float: left;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: auto;
        
    }
    
    .button {
        width: 120px;
        height: 120px;
        margin: 0;
        border: 6px solid #d4d4d4;
    }
    
    .button-icon {
        width: 100%;
        height: 40px;
        margin: 0 0 5px 0;
        background-size: 40px 40px !important;
    }
    
    .button-title {
        font-size: 12px;
    }
    
    .partner {
        display: block;
    }
    
    .partner-icon,
    .partner-info,
    .partner-link {
        width: 100%;
    }
    
    .partner-icon,
    .partner-info {
        margin: 0 0 20px 0;
    }


    .m-description {
        font-size: 14px;
    }

    .m-title {
        font-size: 16px;
    }


    #step_houses .mobile-container {
        width: 100%;
    }

    #step_houses .button {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
        border-radius: 0;
    }

    #step_houses .button .button-icon {
        margin: 0;
        height: 120px;
        background-size: auto 160px !important;
    }

    .b-margin {
        margin: 0 !important;
    }

    #step_houses .b-container .button-title {
        padding: 0;
        font-size: 14px;
        line-height: 1;
        height: auto;
        margin: 0 0 10px 0 !important;
    }
    
}